<navbar>
  <div class="navbar-container">
    <%= image_tag("placeholder_logo.png", :class => "logo" , :alt => "logo")%>
    <%# <img class="navbar-logo" src="/home/balazs/code/4balage4/my-libary/app/assets/images/placeholder_logo.png" alt="logo" /> %>
    <h2> User's Library</h2>
    <ul>
      <li><p>Home</p></li>
      <li><p>Lists</p></li>
      <li><p>Favorites</p></li>
      <li><p>Whishlist</p></li>
      <li><p>Sign out</p></li>
    </ul>
  </div>
</navbar>
