// navbar {
//   // display: relative;

// }

.navbar-container {
  box-sizing: border-box;
  margin: auto;
  max-width: 2000px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}

navbar .logo {
  max-height: 50px;
  max-width: auto;
  padding: 0.25rem 0 0.25rem 1rem;
}

navbar h2 {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

navbar ul {
  display: flex;
  padding-right: 1rem;
}

navbar ul li {
  padding-left: 1rem;
  list-style: none;
}
